
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@100;300&display=swap');
/* estilos que apliquen a todo el one page*/

*{
  border:0px;  
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.sectionVideo{
  height: 50vh;
  display: flex;
  align-items: center;

}
.content {
  max-width: 49rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.section-video{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 50vh;
   overflow: hidden;
}
.section-video video{
  min-width: 100%;
  min-height: 100%;
}
.section-overlay{
  height: 50vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #303952;
  z-index: 1;
  opacity: .3;
}
.section-content{  
  height: 50vh;  
  z-index: 2;
  margin-left: 1rem;
  margin-left: 30%;  
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  
}
.section-content p{
  z-index: 2;
  font-family: 'Playfair Display', serif;
  font-size: 32px;  
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  height: 2.2rem;
  }
  .letraBlanca{
    color: white;
  }
  .letraDorada{
    color: #CFA867;
  }
  .espacioIzquierda{
    margin-left: 1rem;
  }
/*LEAN

header{

}


.video{

}
*/

/* GABI
.sugeridas{

}

.api{

}
*/

/*MARISA
footer{}
*/